.results {
    text-align: left;
}

.results h1 {
    font-size: 1.25rem;
    margin-bottom: 0px;
}

.confViewer {
    overflow: hidden;
    margin-top: 20px;
    height: 590px;
    text-align: center;
}

.confContent {
    width: 100%;
    float: left;
    text-align: left;
}

.ownedTeam {
    text-decoration: line-through;
}

.ownedTeam img {
    opacity: 0.3;
}

.confListing {
    width: 250px;
    height: 550px;
    display: inline-block;
    vertical-align: top;
}

.opponents {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.bye {
    font-style: italic;
}

.confContent h1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #083d91;
    margin-bottom: 5px;
}

.teamLine {
    padding-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.teamLine img {
    height: 30px;
    vertical-align: middle;
    margin-left: 5px;
}

.teamLine:hover{
    color: blue;
    cursor: pointer;
}

.teamLine:hover>img {
    height: 40px;
}

.selectedTeam {
    font-weight: bold;
    color: #0852c9;
}

.teamLine.selectedTeam img {
    height: 50px;
}