.App {
  text-align: center;
  padding: 5px;
  width: 1250px;
  margin: auto;
}

.sidebar {
  float: left;
  width: 250px;
  padding: 5px;
}

.sidebar h1 {
  text-align: left;
  color: #083d91;
  margin-bottom: 0px;
}

.sidebar li {
  line-height: 1.25rem;
}

.content {
  width: 100%;
  float: left;
}

#gridResults {
  height: 450px;
}

.results {
  width: 250px;
  float: left;
}

.startDraft {
  background-color: green;
  color: white;
  font-size: 32pt;
  margin-top: 20px;
  padding: 25px;
  border: 1px solid #083d91;
  border-radius: 20px;
}

.startDraft:hover {
  cursor: pointer;
}

#teamPicker {
  text-align: left;
}
