.results {
    text-align: left;
}

.results h1 {
    font-size: 1.25rem;
    margin-bottom: 0px;
}

.confViewer {
    overflow: hidden;
}

.conference {
    width: 195px;
    float: left;
    text-align: left;
}

.conference ul {
    list-style-type: none;
    line-height: 1.3rem;
}

.conference li:hover{
    color: blue;
    cursor: pointer;
}

.conference li.selected {
    font-weight: bold;
    color: #0852c9;
}
